{% unless page.layout == "page" %}
    {% for item in site.data.nav %}
    <li>
        <a href="{{ item.url }}" class="waves-effect waves-light white-text" title="{{ item.title }}">{{ item.title }}</a> 
    </li>
    {% endfor %}

    {% else %}
        {% for item in site.servicos %}
            <li>
                <a href="/{{ item.title | downcase }}/" class="waves-effect waves-light white-text" title="{{ item.title }}">{{ item.title }}</a> 
            </li>
            <li>
                <a href="/galeria/" class="waves-effect waves-light white-text" title="Galeria">Galeria</a>
            </li>
        {% endfor %}
{% endunless %}