<nav class="nav-extended transparent">
    <div class="nav-wrapper">
        <div style="padding-left: 10px;">
            <a href="/" class="brand-logo center" title="Logotipo da {{ site.title }}">{% include nav/prostudio-white-logo.svg %}</a>
    
            <a href="#" data-target="sideNav" class="sidenav-trigger">
                <i class="fas fa-lg fa-bars"></i>
            </a>

            <ul class="left hide-on-med-and-down">
                {% include nav/nav.html %}
            </ul>
    
            <ul class="right hide-on-med-and-down">
                <li>
                    <a title="Contacte-nos" href="#contactos" class="btn-large waves-effect waves-light modal-trigger">Contacte-nos <i class="fas fa-mail-bulk"></i></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="nav-content hide-on-large-only">
        <button title="Contacte-nos" data-target="contactos" class="btn-floating btn-large halfway-fab waves-effect waves-circle waves-light modal-trigger">
            <i class="fas fa-lg fa-mail-bulk"></i>
        </button>
    </div>
</nav>

{% include nav/sidenav.html %}