<style>
    /* The Masonry Container */
    .masonry {
    margin: 5px auto;
    max-width: 100%;
    column-gap: 10px;
    }

    /* The Masonry Brick */
    .item {
        padding: 5px;
        margin: 0 0 5px;
    }

    /* Masonry on large screens */
    @media only screen and (min-width: 1024px) {
    .masonry {
        column-count: 3;
    }
    }

    /* Masonry on medium-sized screens */
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
    .masonry {
        column-count: 2;
    }
    }

    /* Masonry on small screens */
    @media only screen and (max-width: 767px) and (min-width: 540px) {
    .masonry {
        column-count: 1;
    }
    }
</style>