<section class="section scrollspy" id="galeria">
    <div class="container">
        <div class="section-grid">
            {% for item in site.galeria limit: 8 %}
                <img data-src="{{ item.photo }}" alt="{{ item.title }}" data-caption="{{ item.title }}" class="lazy materialboxed" data-aos="zoom-in" data-aos-duration="3000">
            {% endfor %}
        </div>
        <br>
        <div class="center">
            <a href="galeria/" class="btn-flat waves-effect waves-light white-text" style="border: solid 1px #fff">Veja Mais</a>
        </div>
    </div>
</section>