<section id="sobre" class="section scrollspy">
    <div class="container">
        <div class="section-grid">
            {% for item in site.sobre limit: 1 %}
                <section>
                    <h4>{{ item.title }}</h4>
                
                    <article class="flow-text text-justified">
                        {{ item.content | truncatewords: 25 }}
                    </article>
                    <a href="#sobre{{ forloop.index0 }}" class="btn modal-trigger">Saiba Mais</a>
                </section>
            {% endfor %}

            <img class="lazy" data-src="/assets/uploads/ProstudioTeam.jpg?nf_resize=fit&w=640" alt="{{ site.title }}">
        </div>

        <section class="section">
            <div class="section-grid">
                {% for item in site.sobre offset: 1 limit: 3 %}
                    <div class="card-panel hoverable modal-trigger" data-aos="zoom-in" data-aos-duration="3000" data-target="sobre{{ forloop.index }}" style="cursor: pointer; background-color: #000; border: 1px solid #fff;">
                        <div class="center">
                            <span class="fas fa-5x fa-{{ item.icon }}"></span>
                            <br>
                            <h5>{{ item.title }}</h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>

    {% include home/sobreModal.html %}
</section>